deploy/logic-app-observability-mvp/fixed-workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "openai_endpoint": {
        "type": "string"
      },
      "openai_api_key": {
        "type": "string"
      },
      "app_insights_app_id": {
        "type": "string"
      },
      "app_insights_api_key": {
        "type": "string"
      }
    },
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {}
        }
      }
    },
    "actions": {
      "initialize_variables": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "analysis_timestamp",
              "type": "string",
              "value": "@utcNow()"
            }
          ]
        },
        "runAfter": {}
      },
      "query_performance_data": {
        "type": "Http",
        "inputs": {
          "method": "GET",
          "uri": "https://api.applicationinsights.io/v1/apps/@{parameters('app_insights_app_id')}/query",
          "headers": {
            "X-API-Key": "@parameters('app_insights_api_key')"
          },
          "queries": {
            "query": "requests | where timestamp > ago(24h) | where name contains 'productservice' or name contains 'orderservice' | summarize avg_duration=avg(duration), request_count=count(), success_rate=avg(todouble(success)) * 100 by name | order by avg_duration desc"
          }
        },
        "runAfter": {
          "initialize_variables": ["Succeeded"]
        }
      },
      "call_openai_analysis": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@{parameters('openai_endpoint')}/openai/deployments/gpt-35-turbo/chat/completions?api-version=2023-05-15",
          "headers": {
            "api-key": "@parameters('openai_api_key')",
            "Content-Type": "application/json"
          },
          "body": {
            "messages": [
              {
                "role": "system",
                "content": "You are an expert DevOps engineer. Analyze microservices telemetry data and provide JSON recommendations."
              },
              {
                "role": "user",
                "content": "Analyze this DAPR microservices performance data: @{body('query_performance_data')}. Provide analysis in JSON format with analysis_summary, critical_issues (array), and recommendations (array)."
              }
            ],
            "max_tokens": 1000,
            "temperature": 0.3
          }
        },
        "runAfter": {
          "query_performance_data": ["Succeeded"]
        }
      },
      "Response": {
        "type": "Response",
        "inputs": {
          "statusCode": 200,
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "message": "🤖 AI Observability Analysis Complete",
            "timestamp": "@variables('analysis_timestamp')",
            "app_insights_data": "@body('query_performance_data')",
            "ai_analysis": "@body('call_openai_analysis')"
          }
        },
        "runAfter": {
          "call_openai_analysis": ["Succeeded"]
        }
      }
    }
  },
  "parameters": {
    "openai_endpoint": {
      "value": "https://eastus2.api.cognitive.microsoft.com/"
    },
    "openai_api_key": {
      "value": "860bab079a9f4d228ad5771c281bb117"
    },
    "app_insights_app_id": {
      "value": "97db61c3-9e8f-4a17-bc0c-7a5910197d84"
    },
    "app_insights_api_key": {
      "value": "y3q1j6z8v5oiuga8zz63dawixq1sflgfh11k1sfg"
    }
  }
}